.header-text {
  color: #00D8FF !important;
}

.default-content {
  font-size: 20px;
}

.error {
  color: red;
}

.msg {
  color: #707B7C;
}

.container {    
  width: 100%; 
}
.react-datepicker-wrapper, .react-datepicker__input-container{
  width: 100%;
}
.help-block{
  color:red;
  font-size: 14px;
  float: left;
  position: relative;
  width: 100%;
}
.mail-img {
	display: none;
}
