@font-face {
	font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;
}
@font-face {
	font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;
}
@font-face {
	font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;
}
@font-face {
	font-family:"Franklin Gothic Book";
	panose-1:2 11 5 3 2 1 2 2 2 4;
}	

a {
  color: #00b050;
}

a:hover, a:active, a:focus {
  color: #00b050;
  text-decoration: none;
}

.header-text {
  color: #00D8FF !important;
}

.default-content {
  font-size: 20px;
}

.error {
  color: red;
}

.msg {
  color: #707B7C;
}

.container {    
  width: 100%; 
}
.react-datepicker-wrapper, .react-datepicker__input-container{
  width: 100%;
}
.has-error .help-block{
  color:red;
  font-size: 14px;
  float: left;
  position: relative;
  width: 100%;
}
.has-error input, .has-error .Dropdown-control, .has-error textarea {
  border-color: red;
}
.mail-img {
	display: none;
}
#welcomeAbroadBox {
	font-family: "Tahoma",sans-serif;
}
.form-group label {
  font-weight: 500;
}